.flexigrid table {
    border-collapse: separate;
}

.flexigrid select {
    width: auto;
    height: auto;
    padding: 0 0;
 }

.flexigrid input {
    width: auto;
    /*height: auto;*/
    /*margin: 0 0 !important;*/
    /*padding: 1px 0;*/
}

.flexigrid .sDiv input {
    width: auto;
    /*height: auto;*/
    margin: 0 0 !important;
    /*padding: 1px 0;*/
}

.flexigrid .sDiv select {
    margin: 0 0;
}

#add-user-form.modal.fade.in {
    top: 0;
}

#add-user-form .modal-body {
    max-height:none;
}