.loader {
    display: none;
    position: absolute;
    width: 400px;
    height: 100px;
    padding: 20px;
    z-index: 10000;
    padding-top: 25px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #E5E5E5;
}
.loader-text {
    font-size: 22px;
    color: #000000;
    margin-top: 10px;
    text-wrap: normal;
}
.loader-icon {
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: url("../images/loader.gif");
}