.contact {
    height: 16px;
    width: 16px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
.contact.vk {
    background: url('../images/vk.png') no-repeat;
}
.contact.fb {
    background: url('../images/facebook.png') no-repeat;
}
.contact.tw {
    background: url('../images/twitter.png') no-repeat;
}
.contact.yt {
    background: url('../images/youtube.png') no-repeat;
}

#admin-menu {
    /*border-right: 1px solid #0088cc;*/
    padding: 5px 5px;
}

.user-grid-column {
    border-left: 1px solid #0088cc;
}