html, body, #page-wrap {
    height: 100%;
}

body > #page-wrap {
    height: auto;
    min-height: 100%;
}

#page-wrap {
    padding-bottom: 75px;
}

#footer {
    height: 75px;
    left: 0;
    bottom: 0;
    clear: both;
    margin-top: -70px;
    position: relative;
    z-index: 9999;
    background: #000000;
}

#footer-content {
    margin-top: 15px;
    color: #ffffff;
}

#header {
    height: 80px;
    position: relative;
}

.contact {
    height: 16px;
    width: 16px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.contact.vk {
    background: url('../images/vk.png') no-repeat;
}

.contact.fb {
    background: url('../images/facebook.png') no-repeat;
}

.contact.tw {
    background: url('../images/twitter.png') no-repeat;
}

.contact.yt {
    background: url('../images/youtube.png') no-repeat;
}

#admin-menu {
    /*border-right: 1px solid #0088cc;*/
    padding: 5px 5px;
}

.user-grid-column-header {
    border-left: 1px solid #0088cc;
}

.page-scroll {
    font-size: 20px;
    color: #0088CC;
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
    position: fixed;
    background: #ffffff;
    display: none;
}

.page-scroll.over {
    background: #0088CC;
    color: #ffffff;
    z-index: 10000;
}