body {
    height: 100%;
    width: 100%;
}

.flexigrid table {
    border-collapse: separate;
}

.flexigrid select {
    width: auto;
    height: auto;
    padding: 0 0;
}

.flexigrid input {
    width: auto;
    /*height: auto;*/
    /*margin: 0 0 !important;*/
    /*padding: 1px 0;*/
}

.flexigrid .sDiv input {
    width: auto;
    /*height: auto;*/
    margin: 0 0 !important;
    /*padding: 1px 0;*/
}

.flexigrid .sDiv select {
    margin: 0 0;
}

#add-user-form.modal.fade.in {
    top: 0;
}

#add-user-form .modal-body {
    max-height: none;
}

.flexigrid {
    line-height: normal;
}

.flexigrid .edit {
    opacity: 0.3;
}

.flexigrid .delete {
    opacity: 0.3;
}

.asterisk_red {
    color: red;
}

.required_label {
    margin: 0 5px;
}

.form-field {
    height: 25px !important;
}

.control-group {
    margin-bottom: 0;
}

.user-tree .left-tree {
    float: left;
}

.user-tree .right-tree {
    float: left;
}

.user-tree .user-info {
    text-align: center;
    height: 90px;
    width: auto;
}

.user-tree .stub-node {
    cursor: pointer;
}

.user-tree .user-pointer {
    height: 30px;
    width: 100%;
}

#user-email-form {
    width: 450px;
}

#user-email-form form {
    margin: 0;
}

#user-email-form input {
    width: 100%;
}

#user-email-form .form-field {
    width: 100%;
}

#user-email-form, .input-append, .input-prepend {
    margin-bottom: 0;
}

html, body, #page-wrap {
    height: 100%;
}

body > #page-wrap {
    height: auto;
    min-height: 100%;
}

#page-wrap {
    padding-bottom: 75px;
}

#footer {
    height: 75px;
    left: 0;
    bottom: 0;
    clear: both;
    margin-top: -70px;
    position: relative;
    z-index: 10001;
    background: #000000;
}

#footer-content {
    margin-top: 15px;
    color: #ffffff;
}

#header {
    height: 80px;
    position: relative;
}

.contact {
    height: 16px;
    width: 16px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.contact.vk {
    background: url('../images/vk.png') no-repeat;
}

.contact.fb {
    background: url('../images/facebook.png') no-repeat;
}

.contact.tw {
    background: url('../images/twitter.png') no-repeat;
}

.contact.yt {
    background: url('../images/youtube.png') no-repeat;
}

#admin-menu {
    /*border-right: 1px solid #0088cc;*/
    padding: 5px 5px;
}

.user-grid-column-header {
    border-left: 1px solid #0088cc;
}

.page-scroll {
    font-size: 20px;
    color: #0088CC;
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
    position: fixed;
    background: #ffffff;
    display: none;
}

.page-scroll.over {
    background: #0088CC;
    color: #ffffff;
    z-index: 10000;
}

.title {
    float: left;
}

.page-title {
    width: 100% !important;
}

.back {
    float: right;
    margin-top: 20px;
}

.loader {
    display: none;
    position: absolute;
    width: 400px;
    height: 125px;
    padding: 20px;
    z-index: 10000;
    padding-top: 55px;
    text-align: center;
    background: #ffffff;
    border: 5px solid #E5E5E5;
}

.loader-text {
    font-size: 22px;
    color: #000000;
    margin-top: 10px;
    text-wrap: normal;
}

.loader-icon {
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: url("../images/loader.gif");
}

#profileDetails {
    width: 250px;
}

#profileLabel {
    max-width: 228px;
}

.profileItem {
    padding: 3px 20px;
}

.profileBox {
    border: 1px dotted #DDDDDD;
    padding: 15px;
}

.bar-graph {
    height: 22px;
    text-align: left;
    background: #f4faff;
    border: 1px solid #aeceef;
    position: relative;
    padding: 1px;
}

.bar-graph-normal {
    height: 22px;
    overflow: hidden;
    background: #348dd3;
}

.reportViewer {
    width: 100%;
    height: 150px;
}

#reports-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.office-menu-item {
    width:100%;
    text-align: left;
}

.office-menu {
    margin-top: 10px;
}