body {
    height: 100%;
    width: 100%;
}

@media (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    /*iPad portrait*/
    body {
        font-size: 11px
    }
}

@media (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    /*iPad landscape*/
    body {
        font-size: 11px
    }

}

@media (max-device-width: 480px)
and (orientation: portrait) {
    /*iPhone portrait*/
    body {
        font-size: 9px
    }
}

@media (max-device-width: 480px)
and (orientation: landscape) {
    /*iPhone landscape*/
    body {
        font-size: 9px
    }
}

.flexigrid table {
    border-collapse: separate;
}

.flexigrid select {
    width: auto;
    height: auto;
    padding: 0 0;
}

.flexigrid input {
    width: auto;
    /*height: auto;*/
    /*margin: 0 0 !important;*/
    /*padding: 1px 0;*/
}

.flexigrid .sDiv input {
    width: auto;
    /*height: auto;*/
    margin: 0 0 !important;
    /*padding: 1px 0;*/
}

.flexigrid .sDiv select {
    margin: 0 0;
}

.user-profile {
    white-space: nowrap;
    max-width: 228px;
    overflow: hidden;
}

#add-user-form.modal.fade.in {
    top: 0;
}

#add-user-form .modal-body {
    max-height: none;
}

.flexigrid {
    line-height: normal;
}

.flexigrid .edit {
    opacity: 0.3;
}

.flexigrid .delete {
    opacity: 0.3;
}

.asterisk_red {
    color: red;
}

.required_label {
    margin: 0 5px;
}

.form-field {
    height: 25px !important;
}

.control-group {
    margin-bottom: 0;
}

.user-tree .left-tree {
    float: left;
}

.user-tree .right-tree {
    float: left;
}

.user-tree .user-info {
    text-align: center;
    width: auto;
}

.user-tree .user-pointer {
}

.user-tree .user-image {
    height: 48px;
    width: 48px;
}

#user-email-form {
    width: 450px;
}

#user-email-form form {
    margin: 0;
}

#user-email-form input {
    width: 100%;
}

#user-email-form .form-field {
    width: 100%;
}

#user-email-form, .input-append, .input-prepend {
    margin-bottom: 0;
}

html, body, #page-wrap {
    height: 100%;
}

body > #page-wrap {
    height: auto;
    min-height: 100%;
}

#page-wrap {
    padding-bottom: 75px;
}

#footer {
    height: 75px;
    left: 0;
    bottom: 0;
    clear: both;
    margin-top: -70px;
    position: relative;
    z-index: 10001;
    background: #000000;
}

#footer-content {
    margin-top: 15px;
    color: #ffffff;
}

.copyright {
}

#header {
    height: 80px;
    position: relative;
}

.contact {
    height: 16px;
    width: 16px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.contact.vk {
    background: url('../images/vk.png') no-repeat;
}

.contact.fb {
    background: url('../images/facebook.png') no-repeat;
}

.contact.tw {
    background: url('../images/twitter.png') no-repeat;
}

.contact.yt {
    background: url('../images/youtube.png') no-repeat;
}

#admin-menu {
    /*border-right: 1px solid #0088cc;*/
    padding: 5px 5px;
}

.user-grid-column-header {
    border-left: 1px solid #0088cc;
}

.page-scroll {
    font-size: 20px;
    color: #0088CC;
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
    position: fixed;
    background: #ffffff;
    display: none;
}

.page-scroll.over {
    background: #0088CC;
    color: #ffffff;
    z-index: 10000;
}

.title {
    float: left;
}

.page-title {
    width: 100% !important;
}

.back {
    float: right;
    margin-top: 20px;
}

.loader {
    display: none;
    position: absolute;
    width: 500px;
    height: 125px;
    padding: 20px;
    z-index: 10000;
    text-align: center;
    background: #ffffff;
    border: 1px solid #E5E5E5;
}

.loader-text {
    color: #000000;
    height: 20px;
    padding: 20px;
    word-wrap: normal;
}

.custom-loader {
    width: auto;
    border: none;
    position: relative;
}

#loader-img {
    padding-top: 25px;
}

#profileDetails {
    width: 250px;
}

#profileLabel {
    max-width: 228px;
}

.profileItem {
    padding: 3px 20px;
}

.profileBox {
    border: 1px dotted #DDDDDD;
    padding: 15px;
}

.bar-graph {
    height: 14px;
    text-align: left;
    background: #f4faff;
    border: 1px solid #aeceef;
    position: relative;
    padding: 1px;
}

.bar-graph-normal {
    height: 14px;
    overflow: hidden;
    background: #348dd3;
}

.reportViewer {
    width: 100%;
    height: 150px;
}

#reports-container {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.office-menu-item {
    width: 100%;
    text-align: left;
}

.office-menu {
    margin-top: 10px;
}

.separator {
    clear: both;
    width: auto;
    margin: 15px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
}

.sum {
    width: 209px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 20pt;
}

#treeContainer {
    border: 1px solid #ddd;
    height: 589px;
    overflow: auto;
    padding: 10px
}

#crop-image-body {
    width: 3000px;
    height: 3000px;
}

.crop-image-container {
    border: 1px solid #ddd;
    overflow: auto;
    height: 300px;
    position: relative;
}

#upload-image-icon {
    margin: 4px;
    cursor: pointer;
}

#avatar-container {
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: relative;
}

#bar {
    width: auto;
}

#sidebar {
    float: left;
}

.profileItemList {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contacts {
    width: 80px;
    float: right;
    margin-right: 10px;
}

/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.slider.slider-horizontal {
    width: 210px;
    height: 20px;
}

.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}

.slider.slider-horizontal .slider-selection {
    height: 100%;
    top: 0;
    bottom: 0;
}

.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -5px;
}

.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    border-bottom-color: #0480be;
    margin-top: 0;
}

.slider.slider-vertical {
    height: 210px;
    width: 20px;
}

.slider.slider-vertical .slider-track {
    width: 10px;
    height: 100%;
    margin-left: -5px;
    left: 50%;
    top: 0;
}

.slider.slider-vertical .slider-selection {
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.slider.slider-vertical .slider-handle {
    margin-left: -5px;
    margin-top: -10px;
}

.slider.slider-vertical .slider-handle.triangle {
    border-width: 10px 0 10px 10px;
    width: 1px;
    height: 1px;
    border-left-color: #0480be;
    margin-left: 0;
}

.slider input {
    display: none;
}

.slider .tooltip-inner {
    white-space: nowrap;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slider-selection {
    position: absolute;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    opacity: 0.8;
    border: 0px solid transparent;
}

.slider-handle.round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.slider-handle.triangle {
    background: transparent none;
}

#treeCanvas {
    border: 1px solid lightgrey;
}

#registrationFrame {
    border: 1px solid lightgrey;
}

#users-tree {
    overflow: auto;
    padding: 5px;
    height: 100%;
    border: 1px solid lightgrey;
}

#tree-panel {
    position: absolute;
    background: white;
    padding: 5px;
    z-index: 1;
}

#tree-panel div {
    cursor: pointer;
}

/*Now the CSS*/
* {
    margin: 0;
    padding: 0;
}

.tree {
    display: inline-block;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    margin: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #0088cc;
    color: #fff;
    border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/

.tree .user-photo {
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.tree .user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tree .stub-node {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container {
    margin: 0 auto;
}

.container > hr {
    margin: 60px 0;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}