.asterisk_red {
    color: red;
}

.required_label {
    margin: 0 5px;
}

.form-field {
    height: 25px !important;
}

#email {
    height: 25px;
    width: 179px;
}

.control-group {
    margin-bottom: 0;
}
