.asterisk_red {
    color: red;
}

.required_label {
    margin: 0 5px;
}

.form-field {
    height: 25px !important;
}

.control-group {
    margin-bottom: 0;
}

.user-tree .left-tree {
    float: left;
}

.user-tree .right-tree {
    float: left;
}

.user-tree .user-info {
    text-align: center;
    height: 90px;
    width: auto;
}

.user-tree .stub-node {
    cursor: pointer;
}

.user-tree .user-pointer {
    height: 30px;
    width: 100%;
}

#user-email-form {
    width: 450px;
}

#user-email-form form {
    margin: 0;
}

#user-email-form input {
    width: 100%;
}

#user-email-form .form-field {
    width: 100%;
}

#user-email-form, .input-append, .input-prepend{
    margin-bottom: 0;
}
