<html>
<body>
<h3>Уважаемый ${name}, </h3>
<div>
    Если Вы получили это письмо, то указанный Вами адрес является правильным.
    <br>
    <br>
    С уважением,<br>
    Команда Project X
</div>
</body>
</html>