<html>
<body>
<h3>Дорогой ${userName}, спасибо за регистрацию!</h3>

<div>
    Что бы продолжить регистрацию, нажмите далее <a href='http://localhost:8080/authentication/login'>Далее</a>.
</div>
</body>

</html>