<html>
<body>
<h3>Уважаемый ${name}, </h3>
<div>
    Если Вы поличили данное письмо, значит указанный Вами адрес является правильным. Пожалуйста, перейдите по <a href="${return_url}">ссылке</a>, для завершения процедуры изменения адреса электронной почты.
    <br>
    <br>
    С уважением,<br>
    Команда Project X
</div>
</body>
</html>