<html>
<body>
<h3>Dear ${username}, thanks for you registration!</h3>
<div>
    For continuing registration procedure, please follow <a href="${host}/user/confirm?ui=${uuid}">this</a> link.
    <br>
    <br>
    ${emailFooter}
</div>
</body>
</html>