<html>
<body>
<h3>Здравствуйте, пользователь ${name}, приглашает Вас вступить в проект "Связь для Своих".</h3>
<div>
    Для того, чтобы продолжить регистрацию, перейдите по <a href="${host}/invitation/confirm?ui=${uuid}">ссылке</a>.
    <br>
    <br>
    ${emailFooter}
</div>
</body>

</html>