<html>
<body>
<h3>Здравствуйте, пользователь ${name}, приглашает вас вступить в финансовый проект X.</h3>
<div>
    Для того чтобы продолжить регистрацию, перейдите по <a href="${host}/invitation/confirm?ui=${uuid}">этой</a> ссылке.
    <br>
    <br>
    С уважением,<br>
    Команда Project X
</div>
</body>

</html>