<html>
<body>
<h3>Дорогой ${username}, </h3>
<div>
    Ваш новый пароль для доступа в систему: ${password}
</div>
<div>
    Вы можете использовать свой новый пароль для доступа к личному кабинету. Перейдите по <a href="${returnUrl}">ссылке</a> для завершения процедуры восстановления пароля.
    <br>
    <br>
    ${emailFooter}
</div>
</body>
</html>