<html>
<body>
<h3>Дорогой ${username}, </h3>
<div>
    Ваш новый пароль для доступа в систему: ${password}
</div>
<div>
    Вы можете использовать свой новый пароль для доступа к <a href="${host}/pyramid/office/">личному кабинету</a>.
    <br>
    <br>
    С уважением,<br>
    Команда Project X
</div>
</body>
</html>