<html>
<body>
<h3>Hi ${name}! Thanks for completing registration in our system. Your password is ${password}</h3>
<div>
    You can not enter the system. Please follow the <a href="http://localhost:8080/pyramid/office">link</a> to authenticate.
    <br>
    <br>
    Regards,<br>
    Project X team
</div>
</body>
</html>