<html>
<body>
<h3>Здравствуйте ${name}! Спасибо за регистрацию на нашем сайте. Ваш пароль ${password}</h3>
<div>
    Для авторизации, перейдите по <a href="${host}/pyramid/office">этой</a> ссылке.
    <br>
    <br>
    ${emailFooter}
</div>
</body>
</html>