<html>
<body>
<h3>Dear ${username}, </h3>
<div>
    Your new password is: ${password}
</div>
<div>
    You can use you new password to access your private office. Please follow this <a href="${returnUrl}">link</a> to complete password restore procedure.
    <br>
    <br>
    ${emailFooter}
</div>
</body>
</html>