<html>
<body>
<h3>Dear ${username}, </h3>
<div>
    Your new password is: ${password}
</div>
<div>
    You can use you new password to access your <a href="${host}/pyramid/office/">private office</a>.
    <br>
    <br>
    Regards,<br>
    Project X team
</div>
</body>
</html>